@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar {
    background-color: #003273;
}

.navbar-toggler {
    color: white !important;
}

.footer {
    background-color: #003273;
    font-family: "Roboto";
}

/* ========= nav bar elements ========= */


.navbar-items {
    display: flex;
}

.navbar-items a {
    margin-right: 10px;
}

.nav_3d_jumpback:hover {
    color: #ffffff;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 20px;
    animation: nav_3d_jump 0.8s ease-out;
}

@-webkit-keyframes nav_3d_jump {
    from {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #ffffff;
        color: #000000;
    }

    50.00% {
        transform: translateZ(100px) rotateX(-90deg);
        -webkit-transform: translateZ(100px) rotateX(-90deg);
        -moz-transform: translateZ(100px) rotateX(-90deg);
        background-color: #000000;
        color: #808080;
    }

    to {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #000000;
        color: #ffffff;
    }
}

/* ======= End of Navbar ====== */

/* ======= Banner ======== */

.banner-img {
    background-image: url("https://res.cloudinary.com/dnxdqqci7/image/upload/v1707228276/npydjtz7zcmnqios3ktb.jpg");
    background-size: cover;
    height: 400px;
    width: 100vw;
}

.carousel-content {
    padding-top: 45px;
    color: white;
}

/* .register-button {
    width: 135px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
}

.register-button:hover {
    color: white;
    border-color: ;
    background-color: #003273;
} */

.button_base {
    font-size: 18px;
    width: 200px;
    height: 50px;
    cursor: default;
    border-radius: 50px;
}

.b11_3d_jumpback div {
    color: #000000;
    background-color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    border: #000000 solid 1px;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
}

.b11_3d_jumpback:hover div {
    color: #ffffff;
    background-color: transparent;
    border-color: white;
    animation: b11_3d_jump 0.3s ease-out;
}

@-webkit-keyframes b11_3d_jump {
    from {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #ffffff;
        color: #000000;
    }

    49.99% {
        transform: translateZ(100px) rotateX(90deg);
        -webkit-transform: translateZ(100px) rotateX(90deg);
        -moz-transform: translateZ(100px) rotateX(90deg);
        background-color: #808080;
        color: #000000;
    }

    50.00% {
        transform: translateZ(100px) rotateX(-90deg);
        -webkit-transform: translateZ(100px) rotateX(-90deg);
        -moz-transform: translateZ(100px) rotateX(-90deg);
        background-color: #000000;
        color: #808080;
    }

    to {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #000000;
        color: #ffffff;
    }
}

@-moz-keyframes b11_3d_jump {
    from {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #ffffff;
        color: #000000;
    }

    49.99% {
        transform: translateZ(100px) rotateX(90deg);
        -webkit-transform: translateZ(100px) rotateX(90deg);
        -moz-transform: translateZ(100px) rotateX(90deg);
        background-color: #808080;
        color: #000000;
    }

    50.00% {
        transform: translateZ(100px) rotateX(-90deg);
        -webkit-transform: translateZ(100px) rotateX(-90deg);
        -moz-transform: translateZ(100px) rotateX(-90deg);
        background-color: #000000;
        color: #808080;
    }

    to {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #000000;
        color: #ffffff;
    }
}

/* ======= End of Banner ======== */

.icon {
    color: #5a7184;
    font-size: 24px;
    padding: 8px;
    margin: 8px 20px 0px 0px;
    border-color: #5a7184;
    border-style: solid;
    border-width: 2px;
    border-radius: 24px;
}

.hr-line {
    background-color: #5a7184;
    width: 75%;
}

.c-icon {
    color: #959ead;
}

.created-by-h1 {
    color: #959ead;
    font-size: 15px;
    margin-top: 28;
    margin-bottom: 48;
}

.page-heading {
    font-weight: bold;

}

.sub-heading {
    font-weight: bold;
}

.gallery-item {
    margin-top: 26px;
}

.item-wrap {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.item-wrap img {
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.item-wrap:hover img {
    transform: scale(1.1);
}
